<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/css/globals.css" />
    <link rel="stylesheet" href="/static/css/styleguide.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jua&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Parkinsans:wght@300..800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parkinsans:wght@300..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parkinsans:wght@300..800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jua&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parkinsans:wght@300..800&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="about">
      <div class="div">
        <div class="overlap">
          <div class="overlap-group">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
            <a href="/home" class="text-wrapper">Meowly</a>
            <div class="items">
              <a href="/cek" class="text-wrapper-2">Cek Penyakit Kucing</a>
              <a href="/dok" class="text-wrapper-2">Chat Dokter Hewan</a>
              <a href="/about" class="text-wrapper-2">Tentang Kami</a>
              <a href="/akun" class="akunanda">Akun Saya</a>
            </div>
            <img class="image" src="/static/img/image-10.png" />
            <div class="text-wrapper-4">Apa yang Meowly Tawarkan?</div>
            <p class="p">
              Meowly hadir sebagai teman terpercaya bagi para pecinta kucing untuk memastikan kesehatan dan kebahagiaan
              kucing kesayangan Anda tetap terjaga. Kami memahami bahwa kucing adalah bagian penting dari keluarga, dan
              kesehatan mereka adalah prioritas utama. Dengan Meowly, Anda dapat dengan mudah mendapatkan informasi dan
              solusi terkait kesehatan kucing hanya dalam beberapa langkah sederhana.
            </p>
            <div class="rectangle-3"></div>
            <div class="rectangle-4"></div>
            <div class="text-wrapper-5">Deteksi Penyakit Berdasarkan Gejala</div>
            <p class="text-wrapper-6">
              Masukkan gejala yang dialami kucing Anda, dan Meowly akan menganalisis serta memberikan kemungkinan
              penyakit yang mungkin diderita. Kami menggunakan pendekatan berbasis data untuk memberikan hasil yang
              cepat dan akurat.
            </p>
            <div class="rectangle-5"></div>
            <div class="rectangle-6"></div>
            <p class="text-wrapper-7">
              Jika Anda membutuhkan bantuan lebih lanjut, Meowly menyediakan akses untuk berkomunikasi langsung dengan
              dokter hewan profesional yang siap memberikan solusi dan panduan perawatan terbaik.
            </p>
            <div class="rectangle-7"></div>
            <div class="rectangle-8"></div>
            <div class="text-wrapper-8">Penanganan Awal</div>
            <p class="text-wrapper-9">
              Tidak hanya membantu Anda mengetahui kemungkinan penyakit, Meowly juga memberikan langkah penanganan awal
              yang dapat Anda lakukan di rumah untuk membantu meringankan kondisi kucing sebelum mendapatkan perawatan
              profesional.
            </p>
            <div class="live-chat-dengan">Live Chat dengan<br />Dokter Hewan</div>
            <img class="img" src="/static/img/image-13.png" />
          </div>
          <div class="text-wrapper-10">About Meowly</div>
        </div>
        <div class="overlap-2">
          <div class="text-wrapper-11">Misi Kami</div>
          <p class="meowly-berkomitmen">
            Meowly berkomitmen untuk menjadi jembatan antara Anda dan kesehatan kucing Anda. Dengan teknologi yang kami
            miliki, kami ingin membantu para pemilik kucing memberikan perawatan yang terbaik dan memastikan kucing Anda
            hidup sehat, nyaman, dan bahagia.<br /><br />Bersama Meowly, mari kita wujudkan dunia di mana setiap kucing
            mendapatkan perhatian dan perawatan yang mereka layak dapatkan!
          </p>
          <a href="/tim" class="button-2">Tim Kami</a>
        </div>
        <div class="overlap-3">
          <a href="/home" class="text-wrapper-12">Meowly</a>
          <div class="social-icons">
            <div class="buttons-icon">
              <div class="icon"><img class="icon-2" src="/static/img/icon-2.svg" /></div>
            </div>
            <div class="buttons-icon">
              <div class="icon"><img class="icon-3" src="/static/img/icon.svg" /></div>
            </div>
            <div class="buttons-icon">
              <div class="icon"><img class="icon-4" src="/static/img/icon-3.svg" /></div>
            </div>
            <div class="buttons-icon">
              <div class="icon"><img class="icon-2" src="/static/img/image-1.svg" /></div>
            </div>
          </div>
          <p class="text-wrapper-13">© 2024 All Right Reserved | Meowly</p>
          <div class="overlap-4">
            <div class="flexcontainer">
              <p class="text">
                <span class="span">Meowly<br /></span>
              </p>
              <p class="text">
                <span class="text-wrapper-14">Jl. Jatimulyo, Kricak,<br /></span>
              </p>
              <p class="text">
                <span class="text-wrapper-14"> Tegalrejo, Yogyakarta<br /></span>
              </p>
              <p class="text"><span class="text-wrapper-14">+62895364914933</span></p>
            </div>
            <div class="items-2">
              <a href="/cek" class="text-wrapper-15">Cek Penyakit Kucing</a>
              <a href="/dok" class="text-wrapper-15">Chat Dokter Hewan</a>
              <a href="/about" class="text-wrapper-15">Tentang Kami</a>
            </div>
          </div>
        </div>
        <img class="image-11" src="/static/img/image-6-2.png" />
        <img class="image-12" src="/static/img/image-6-2.png" />
        <img class="image-2" src="/static/img/image-6.png" />
        <img class="image-3" src="/static/img/image-6.png" />
        <img class="image-4" src="/static/img/image-10.png" />
        <img class="image-5" src="/static/img/image-2.png" />
        <img class="image-6" src="/static/img/image.png" />
        <img class="image-7" src="/static/img/image-3.png" />
        <div class="text-wrapper-16">Mengapa Memilih Meowly?</div>
        <div class="overlap-5">
          <div class="rectangle-9"></div>
          <p class="text-wrapper-17">
            Tidak perlu repot mencari informasi di berbagai tempat, cukup gunakan Meowly dan semua solusi ada di tangan
            Anda.
          </p>
          <div class="text-wrapper-18">Mudah Digunakan</div>
        </div>
        <img class="image-8" src="/static/img/image-12.png" />
        <div class="overlap-group-2">
          <div class="rectangle-10"></div>
          <p class="text-wrapper-17">Tim dokter hewan kami siap membantu kapan saja Anda membutuhkannya.</p>
          <div class="text-wrapper-19">Dukungan Profesional</div>
        </div>
        <div class="overlap-6">
          <div class="rectangle-11"></div>
          <p class="text-wrapper-20">Analisis gejala dilakukan dengan cepat, memberikan Anda hasil yang terpercaya.</p>
          <div class="text-wrapper-21">Cepat dan Akurat</div>
        </div>
        <img class="image-9" src="/static/img/image-14.png" />
        <img class="image-10" src="/static/img/image-11.png" />
        <img class="image-15" src="/static/img/image-15.png" />
      </div>
    </div>
  </body>
</html>