<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/css/globals.css" />
    <link rel="stylesheet" href="/static/css/styleguide.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jua&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Parkinsans:wght@300..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parkinsans:wght@300..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parkinsans:wght@300..800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jua&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parkinsans:wght@300..800&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="index">
      <div class="div">
        <div class="free">
            <p class="free-text">
                Halo, {{ name }} akunmu sekarang ini {{ user_type }}.
            </p>
            <form action="{{ url_for('logout') }}" method="POST">
                <button type="submit" class="logout-button">Logout</button>
            </form>
        </div>
        <div class="overlap">
          
        </div>
        <div class="overlap-group">
          <a href="/home" class="text-wrapper-3">Meowly</a>
          <div class="social-icons">
            <div class="buttons-icon">
              <div class="icon"><img class="img" src="static/img/icon-2.svg" /></div>
            </div>
            <div class="buttons-icon">
              <div class="icon"><img class="icon-2" src="static/img/icon.svg" /></div>
            </div>
            <div class="buttons-icon">
              <div class="icon"><img class="icon-3" src="static/img/icon-3.svg" /></div>
            </div>
            <div class="buttons-icon">
              <div class="icon"><img class="img" src="static/img/image-1.svg" /></div>
            </div>
          </div>
          <p class="p">© 2024 All Right Reserved | Meowly</p>
          <div class="overlap-2">
            <div class="flexcontainer">
              <p class="text">
                <span class="span">Meowly<br /></span>
              </p>
              <p class="text">
                <span class="text-wrapper-4">Jl. Jatimulyo, Kricak,<br /></span>
              </p>
              <p class="text">
                <span class="text-wrapper-4"> Tegalrejo, Yogyakarta<br /></span>
              </p>
              <p class="text"><span class="text-wrapper-4">+62895364914933</span></p>
            </div>
            <div class="items">
              <a href="/cek" class="text-wrapper-5">Cek Penyakit Kucing</a>
              <a href="/dok" class="text-wrapper-5">Chat Dokter Hewan</a>
              <a href="/about" class="text-wrapper-5">Tentang Kami</a>
            </div>
          </div>
        </div>
        <div class="overlap-3">
          <div class="overlap-4">
            <div class="rectangle-5"></div>
            <a href="/home" class="text-wrapper-6">Meowly</a>
            <div class="items-2">
              <a href="/cek" class="text-wrapper-7">Cek Penyakit Kucing</a>
              <a href="/dok" class="text-wrapper-7">Chat Dokter Hewan</a>
              <a href="/about" class="text-wrapper-7">Tentang Kami</a>
              <a href="/akun" class="akunanda">Akun Saya</a>
            </div>
          </div>
        </div>
        <img class="image-7" src="/static/img/image-6-2.png" />
        <img class="image-8" src="/static/img/image-6-2.png" />
      </div>
    </div>
  </body>
</html>