<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/css/globals.css" />
    <link rel="stylesheet" href="/static/css/styleguide.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parkinsans:wght@300..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parkinsans:wght@300..800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jua&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parkinsans:wght@300..800&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="index">
      <div class="div">
        <div class="overlap">
          <div class="rectangle"></div>
          <p class="text-wrapper">
            Selain mengetahui penyakit yang diderita kucing anda, anda juga akan mendapatkan solusi atau penanganan
            pertama yang bisa anda lakukan ketika kucing anda terkena penyakit tertentu, serta jika anda ingin
            berkomunikasi secara langsung dengan dokter hewan, kami siap membantu anda.
          </p>
          <p class="meowly-akan-membantu">
            Meowly akan membantu anda&nbsp;&nbsp;mengetahui penyakit kucing anda berdasarkan gejala yang anda masukkan.
          </p>
          <a href="/login" class="button">Cek Penyakit<br />Kucing Anda<br />Sekarang
          </a>
          <a href="/login" class="button-3">Chat Langsung<br />Dengan Dokter Hewan
          </a>
          <div class="rectangle-2"></div>
          <div class="text-wrapper-2">Cek Penyakit Kucing Anda</div>
          <div class="rectangle-3"></div>
          <div class="live-chat-dengan">Live Chat dengan<br />Dokter Hewan</div>
          <div class="rectangle-4"></div>
          <p class="dapatkan-solusi">Dapatkan Solusi Penanganan<br />Untuk Kucing Anda</p>
          <img class="image" src="/static/img/image-3.png" />
        </div>
        <div class="overlap-group">
          <div class="text-wrapper-3">Meowly</div>
          <div class="social-icons">
            <div class="buttons-icon">
              <div class="icon"><img class="img" src="/static/img/icon-2.svg" /></div>
            </div>
            <div class="buttons-icon">
              <div class="icon"><img class="icon-2" src="/static/img/icon.svg" /></div>
            </div>
            <div class="buttons-icon">
              <div class="icon"><img class="icon-3" src="/static/img/icon-3.svg" /></div>
            </div>
            <div class="buttons-icon">
              <div class="icon"><img class="img" src="/static/img/image-1.svg" /></div>
            </div>
          </div>
          <p class="p">© 2024 All Right Reserved | Meowly</p>
          <div class="overlap-2">
            <div class="flexcontainer">
              <p class="text">
                <span class="span">Meowly<br /></span>
              </p>
              <p class="text">
                <span class="text-wrapper-4">Jl. Jatimulyo, Kricak,<br /></span>
              </p>
              <p class="text">
                <span class="text-wrapper-4"> Tegalrejo, Yogyakarta<br /></span>
              </p>
              <p class="text"><span class="text-wrapper-4">+62895364914933</span></p>
            </div>
            <div class="items">
              <a href="/login" class="text-wrapper-5">Cek Penyakit Kucing</a>
              <a href="/login" class="text-wrapper-5">Chat Dokter Hewan</a>
              <a href="/login" class="text-wrapper-5">Tentang Kami</a>
            </div>
          </div>
        </div>
        <img class="image-2" src="/static/img/image-4.png" />
        <div class="overlap-3">
          <div class="overlap-4">
            <div class="rectangle-5"></div>
            <div class="text-wrapper-6">Meowly</div>
            <img class="image-3" src="/static/img/image-6.png" />
            <img class="image-4" src="/static/img/image-5.png" />
            <div class="items-2">
              <a href="/login" class="text-wrapper-7">Cek Penyakit Kucing</a>
              <a href="/login" class="text-wrapper-7">Chat Dokter Hewan</a>
              <a href="/login" class="text-wrapper-7">Tentang Kami</a>
              <a href="/login" class="div-wrapper">Login</a>
            </div>
          </div>
          <img class="image-5" src="/static/img/image-2.png" />
          <img class="image-6" src="/static/img/image.png" />
        </div>
        <p class="text-wrapper-9">
          Di Meowly, kami menyediakan cek penyakit kucing secara GRATIS untuk anda. Diharapkan Meowly mampu untuk
          membantu anda dalam mendiagnosis penyakit yang sedang dialami kucing anda, dan kami akan memberikan solusi
          atau penanganan pertama yang bisa anda lakukan. Tapi INGAT, Meowly hanya memberikan hasil diagnosis
          berdasarkan gejala yang umum ada pada penyakit dan Meowly sangat menyarankan untuk membawa kucing anda ke
          Klinik hewan.
        </p>
        <img class="image-7" src="/static/img/image-6-2.png" />
        <img class="image-8" src="/static/img/image-6-2.png" />
        <a href="/login" class="button-5">Tentang Meowly</button></a>
        <p class="text-wrapper-10">
          Jika anda sekarang sedang tidak bisa pergi ke klinik hewan untuk memeriksa kucing anda, maka gunakanlah
          Meowly.
        </p>
      </div>
    </div>
  </body>
</html>